body {
    background-color: #EEE2D7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #D3C6B6;
    color: #493F30;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
nav {
    background-color: #F7F0E4;
    border-bottom: 1px solid #C7B299;
    color: #493F30;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.logout_btn{
    display: none;
}

nav a {
    color: #493F30;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    margin: 20px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
article {
    background-color: #F7F0E4;
    border: 1px solid #C7B299;
    box-shadow: 0 0 10px #C7B299;
    margin: 10px;
    padding: 20px;
    width: calc(65% - 20px);
}
@media screen and (max-width: 768px) {
    article {
        width: 90%;
    }

}
footer {
    background-color: #D3C6B6;
    color: #493F30;
    padding: 10px;
    text-align: center;
}

.login_container {
    background-color: #F7F0E4;
    border: 1px solid #C7B299;
    box-shadow: 0 0 10px #C7B299;
    margin: 10px;
    padding: 20px;
    width: calc(65% - 20px);
}

.inner_login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username_bar {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #493F30;
    background-color: #F7F0E4;
}

.username_bar:focus {
    outline: none;
}

.password_bar {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #493F30;
    background-color: #F7F0E4
}

.password_bar:focus {
    outline: none;
}


.btn_box{
    display: flex;
    justify-content: center;
    width: 100%;
}

.login_btn {
    padding: 5px 32px;
    border: #493F30 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #F7F0E4;
    color: #493F30;
}

.login_message {
    color: #C62D42;
    font-weight: bold;
    margin-bottom: 10px;
    display: none;
}
