<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board.css">
    <title>Message board</title>
</head>
<body>
    <header>
        <h1>Message Board</h1>
    </header>
    <section>
        <div class="message">
            <input type="text" class="message-title" placeholder="在此輸入標題...">
            <input type="text" class="message-text" placeholder="在此輸入內容...">
            <button class="message-submit">送出</button>
        </div>

        <div id="message-board" class="message-board"></div>

        <button id="load-more" class="load-more">載入更多留言</button>


    </section>
    <script src="/js/board.js"></script>
</body>
</html>