<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ county }}美食&夜市</title>
    <link rel="stylesheet" href="/css/county.css">
</head>
<body>
    <div id="county_id">{{ county }}</div>
    <div>{{ county }}夜市名單 and 美食</div>
    <input type="text" placeholder="搜尋">
    <button>新增夜市</button>
    <button>新增美食</button>
    <div class="block-container" id="block-container">
        <div class="block">
            <img src="/images/kitty.jpeg" alt="">
            <p>xx夜市</p>
            <p>這是一家已經有百年歷史的夜市</p>
        </div>
        <div class="block">
            <img src="/images/kitty.jpeg" alt="">
            <p>xx夜市</p>
            <p>這是一家已經有百年歷史的夜市</p>
        </div>
        <div class="block">
            <img src="/images/kitty.jpeg" alt="">
            <p>xx夜市</p>
            <p>這是一家已經有百年歷史的夜市</p>
        </div>
        <div class="block">
            <img src="/images/kitty.jpeg" alt="">
            <p>xx夜市</p>
            <p>這是一家已經有百年歷史的夜市</p>
        </div>
    </div>
    <script src="/js/county.js"></script>
</body>
</html>