<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>夜市介紹</title>
    <link rel="stylesheet" href="/css/foodprint.css">
</head>
<body>
    <header>
        <h1>FoodPrint</h1>
        <p>紀錄那些吃過與路過的東西</p>
    </header>
    <div class="insert-container">
        <button>新增</button>
    </div>
    <div class="region-container">
        <div class="region" id="north">
            <h2>北部</h2>
            <ul>
                <li><a href="/foodprint/台北市">台北市</a></li>
                <li><a href="/foodprint/新北市">新北市</a></li>
                <li><a href="/foodprint/基隆市">基隆市</a></li>
                <li><a href="/foodprint/桃園市">桃園市</a></li>
                <li><a href="/foodprint/新竹市">新竹市</a></li>
            </ul>
        </div>
        <div class="region" id="central">
            <h2>中部</h2>
            <ul>
                <li><a href="/foodprint/台中市">台中市</a></li>
                <li><a href="/foodprint/南投縣">南投縣</a></li>
                <li><a href="/foodprint/彰化縣">彰化縣</a></li>
                <li><a href="/foodprint/雲林縣">雲林縣</a></li>
            </ul>
        </div>
        <div class="region" id="south">
            <h2>南部</h2>
            <ul>
                <li><a href="/foodprint/高雄市">高雄市</a></li>
                <li><a href="/foodprint/台南市">台南市</a></li>
                <li><a href="/foodprint/屏東縣">屏東縣</a></li>
            </ul>
        </div>
        <div class="region" id="east">
            <h2>東部</h2>
            <ul>
                <li><a href="/foodprint/花蓮縣">花蓮縣</a></li>
                <li><a href="/foodprint/台東縣">台東縣</a></li>
            </ul>
        </div>
        <div class="region" id="islands">
            <h2>離島</h2>
            <ul>
                <li><a href="/foodprint/金門縣">金門縣</a></li>
                <li><a href="/foodprint/馬祖縣">馬祖縣</a></li>
                <li><a href="/foodprint/澎湖縣">澎湖縣</a></li>
            </ul>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 台灣夜市介紹 - 版權所有</p>
    </footer>
</body>
</html>
