<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Pikxl</title>
</head>
<body>
	<!-- <div>Just remember: Less is more</div> -->
	<div class="wrapper" id="wrapper">
	<nav>
		<p class="title">Pikxl</p>
		<a href="/board" id="board_btn">留言板</a>
		<a href="/chat" id="chat_btn"><img src="/images/talk.png"></a>
		<!-- <a href="/stock" id="about_btn">股票</a> -->
		<a href="/geo" id="about_btn"><img src="/images/earth.png">New!</a>
		<!-- <a href="/crawler"><img src="/images/spider.png" style="width:16px;height:16px;"></a> -->
        <a href="#" id="logout_btn" class="logout_btn" onclick="logout()">Logout</a>



		<!-- <div class="login_container" id="login_container">
			<div class="inner_login_container">
			  <label for="username">Username:</label>
			  <input class="username_bar" type="text" id="username" name="username" value="" required>
			  <label for="password">Password:</label>
			  <input class="password_bar" type="password" id="password" name="password" value="" required>
			  <div id="notifi"></div>
			  <div class="btn_box">
				<button class="login_btn" onclick="login()">Log in</button>
				  <button class="login_btn" id="signup_btn" onclick="register()">Sign up</button>
			  </div>
			</div>
		  </div> -->
		  <div class="login_message" id="login_message">Welcome </div>



		  
	</nav>
	<section>
		<h1 class="title" id="title">ColoЯization</h1>
		<p>Get today's color ideas!</p>
		<button id="get_color_btn" class="btn">GET</button>
		<div id="color_copy">Click to copy HEX</div>
		<div class="sections">
			<article id="cube_1" onclick="copied(this.id)" onmouseover="changeBackgroundColor(this.id)" onmouseout="resetBackgroundColor()">
				<p id="cube_1_color"></p>
			</article>
			<article id="cube_2" onclick="copied(this.id)" onmouseover="changeBackgroundColor(this.id)" onmouseout="resetBackgroundColor()">
				<p id="cube_2_color"></p>
			</article>
			<article id="cube_3" onclick="copied(this.id)" onmouseover="changeBackgroundColor(this.id)" onmouseout="resetBackgroundColor()">
				<p id="cube_3_color"></p>
			</article>
			<article id="cube_4" onclick="copied(this.id)" onmouseover="changeBackgroundColor(this.id)" onmouseout="resetBackgroundColor()">
				<p id="cube_4_color"></p>
			</article>
			<article id="cube_5" onclick="copied(this.id)" onmouseover="changeBackgroundColor(this.id)" onmouseout="resetBackgroundColor()">
				<p id="cube_5_color"></p>
			</article>
		</div>
	</section>
	<main>
		<section>
            <div class="login_message" id="login_message">Welcome </div>


		</section>
	</main>
	<!-- <footer>
		<p>&copy; 2024 Pikxl. All rights reserved.v1.1</p>
	</footer> -->
    <script src="/js/index.js"></script>
</div>
</body>
</html>