<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Chi Chi vio</title>
</head>
<body>
    <header>
		<h1>ChiChi violin</h1>
	</header>
	<nav>
		<a href="#">Home</a>
		<a href="#">Lessons</a>
		<a href="#">Pricing</a>
		<a href="#">Contact</a>
        <a href="#" onclick="logout()">Logout</a>
	</nav>
	<main>
		<section>
            <div class="login-container">
                <div>
                  <label for="username">Username:</label>
                  <input type="text" id="username" name="username" required>
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" required>
                  <button type="submit" onclick="login()">登入</button>
                </div>
              </div>
			<article>
				<h2>About Me</h2>
				<p>Add some information about yourself and your teaching philosophy here.</p>
			</article>
			<article>
				<h2>Lessons</h2>
				<p>Add some information about your lessons, including the types of music you teach and what students can expect from your lessons.</p>
			</article>
			<article>
				<h2>Pricing</h2>
				<p>Add information about your pricing, including your rates and any packages or deals you offer.</p>
			</article>
			<article>
				<h2>Contact</h2>
				<p>Add a contact form or your contact information here.</p>
			</article>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Chichivio. All rights reserved.v1.1</p>
	</footer>
    <script src="/js/index.js"></script>

</body>
</html>