<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
</head>
<body>
    <div>
        <iframe id="embed_iframe" class="embed_iframe"
            style="border:0"
            loading="lazy"
            allowfullscreen
            width="1080px"
            height="720px"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/streetview?key=&location=60.171001,24.939350&heading=210&pitch=10&fov=35">
            </iframe>
    </div>
</body>
</html>